.full-width-button {
  width: 100%;
  height: 153px;
  margin-top: 85px;
  display: block;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ad1818;
  background-color: #fff;
}

.js-btn {
  width: 100%;
  height: 153px;  
  margin-top: 85px;
  display: block;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: red;
}
.full-width-button:hover {
  background-color: #ad1818;
  color: #fff;
}

.fjs-btn {
  margin-top: 104px;
  background-color: #ad1818;
  color: #fff;
}

.js-btn:hover {
  background-color: #fff;
  color: #ad1818;
}

@media (max-width: 1199px) {
  .full-width-button_inverted {
    margin-top: 78px;
  }
}

@media (max-width: 767px) {
  .full-width-button {
    height: 100px;
    margin-top: 60px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 100px;
  }

  .full-width-button_inverted {
    margin-top: 60px;
  }
}
