header {
  margin-top: 33px;
}

.menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}

.nav a {
  margin-left: 58px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  color: #000;
}
.nav a:first-child {
  margin-left: 0;
}

@media (hover: hover)  {
.nav a:hover {
  opacity: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
}
@media (max-width: 1199px) {
}

@media (max-width: 767px) {
}

@media (max-width: 400px) {
}
