@media (any-hover: hover) {
  .nav a:hover {
    opacity: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
}

header {
  margin-top: 33px;
}

.body_fixed {
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 60px;
}

.nav__link {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  color: #000;
}

@media (max-width: 1199px) {


}

@media (max-width: 767px) {
}
@media (max-width: 400px) {
}
